.arrow-direction {
	transition: transform 0.3s ease;
}
.fa-arrow-up:before {
    line-height: 29px;
}
.arrow-direction.true {
	transform: rotate(0);
}
.arrow-direction.false {
	transform: rotate(180deg);
}

.utils-container {
	display: flex;
	align-items: center;
}
.room-left {
	margin-left: 8px;
}