<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>EricAdvisor</title>
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link rel="shortcut icon" href="img/advisor.ico" type="image/x-icon" />

	<link media="all" rel="stylesheet" href="css/style.css">
	<link media="all" rel="stylesheet" href="css/ngdialog.css">
	<link media="all" rel="stylesheet" href="fontawesome/css/font-awesome.css">
</head>

<body ng-controller="rootController as root">

	<div class="header">
		EricAdvisor
		<span class="login-button" ng-click="root.openLogin()">Login</span>
	</div>

	<input type="text" placeholder="Search for pokemon" style="margin-left: 10%;" ng-model="root.searchTerm"/>

	<list></list>
	<script src="js/app.bundle.js"></script>
</body>
</html>
